* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-container {
    background-color: #1d1d1d;
    color: #dcdcdc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;

}
.logo-img {
    width: 100px;
}

.menuse {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.menuse li {
    font-size: 18px;
    margin-right: 15px;
    padding: 5px;
    text-transform: uppercase;
    font-weight: 700;
}
.banner-photo {
    width: 500px;
}
.banner-section {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
}

.title {
    font-size: 52px;
}

.description {
    font-size: 18px;
    margin: 15px 0px;
}

.btn {
    background-color: #6C63FF;
    padding: 10px 15px;
    color: #fff;
    border: 1px solid #6C63FF;
}