*{
    margin: 0px;
    padding: 0px;
    color: #fff;
}
.container {
    padding: 0px 60px;
}
.nav-container {
    background-color: #232323;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.nav-items li {
    list-style: none;
    margin-right: 20px;
    font-size: 26px;
    cursor: pointer;
}
.nav-items {
    display: flex;
}
.hero-img img {
    width: 600px;
}
section {
    background-color: rgb(50, 50, 50);
    background-position: center;
}
.hero-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
h1{
    font-size: 42px;
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Lato';
}
.hero-info p{
    font-size: 18px;
    margin: 15px 0px;
}
.btn {
    background-color: #6C63FF;
    padding: 10px 15px;
}
